/* ===================================== Import Fonts ================================== */
@font-face {
    font-family: Satoshi Variable;
    src: url("../fonts/Satoshi-Variable.ttf") format("truetype"); }
@font-face {
  font-family: Roboto Light;
  src: url("../fonts/Satoshi-Variable.ttf") format("truetype"); }

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color: #171720;
  font-size: 13px;
  font-family: Satoshi Variable;
}
.login-box {
  width: 785px;
  color: #fff;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.login-box .logo-heading h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 0;
} 
.login-box .logo-heading p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #757B8C;
    margin-bottom: 0;
}

/* ===================================== Login Form ================================== */
form{
  margin-top: 25px;
}
form .form-input{
  margin-bottom: 21px;
  position: relative;
}
form .form-input input{
  font-family: Satoshi Variable;
  font-weight: 900;
  font-size: 31px;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: #fff;  
  border: 0;  
  border-bottom: 1px solid #757B8C;
  height: 90px;
  background: transparent;
  border-radius: 0;
  padding: 0;
}
form .form-input input:hover,
form .form-input input:focus{
  outline: none;
  box-shadow: none;
  background: transparent;
  color: #fff;
}
form .form-input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #757B8C;
  opacity: 1; /* Firefox */
}
form .form-input input::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #757B8C;
}

form .form-input input::-ms-input-placeholder { /* Microsoft Edge */
   color: #757B8C;
}
form .form-input img{
  position: absolute;
  top: 41px;
  right: 10px;
  cursor: pointer;
}
.custom-btn{
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  border-radius: 10px;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  margin-top: 55px;
}
.custom-btn span{
  margin-right: 15px;
}
.login-here{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #757B8C;
  margin: 35px;
}
.login-here a{
  text-decoration: none;
  color: #1877F2;
  font-weight: 600;
  padding-left: 5px;
 }

/* ===================================== Footer ================================== */
 .footer-section .progress{
   height: 9px;
   border-radius: 0;
   background: #3C4254;
 }
 .footer-section .inner-footer{
   padding: 45px 0;
   text-align: center;
   display: flex;
   justify-content: center;
   background-color: #232631;
   position: relative;
 }
.caret-arrow{
  display: inline-block;
  margin: 0 16px;
  color: #6f7585;
  font-size: 10px;
 }
 .process .numbers {
   width: 20px;
   height: 20px;
   border: 1px solid #fff;
   border-radius: 50px;
   color: #757B8C;
   display: inline-block;
   font-size: 11px;
   line-height: 18px;
   margin: 0;
   margin-right: 10px;
 }
 .process p{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #757B8C;
    display: inline-block;
    margin: 0;
 }
 .process.active p{
    color: #fff;
 }
.inner-footer .btn-continue{
  background: #303443;
  border-radius: 8px;
  color: #6F7897;
  padding: 21px 18px;
  border: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
  position: absolute;
  right: 36px;
  top: 24px;
}